@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.banner {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.description {
  margin-top: 1rem;
}

.heroNav ul {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
}

.heroNav ul li {
  width: 100%;
  margin: 1rem 1rem;
}

@media screen and (min-width: 1400px) {
  .heroNav ul li:first-child {
    margin-top: 0;
  }

  .heroNav ul li:nth-child(2) {
    margin-top: 0;
  }
}
