@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-grey: #999;
  --text-dark: #333;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #cea52a, 45%, #ffcc34 63%);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #f0f0f0 0%, #f0f0f0 0%);
}
::-webkit-scrollbar-track {
  background: black;
  border-radius: 0px;
}

.noSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  margin: auto;
  margin-top: 1rem;
  min-height: 100vh;

  overflow-x: hidden;
}

h3 {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Pacifico", cursive;
  text-align: center;
}

h4 {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Pacifico", cursive;
  text-align: center;
}

html {
  background-color: black;
  color: white;
}

.primaryFont {
  font-family: "Pacifico", cursive;
}

strong ~ p {
  margin-bottom: 1rem;
}

.PageWrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.btn {
  text-align: center;
  display: block;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid white;
  background: linear-gradient(#ffcc34 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.08em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.btn:hover {
  color: black;
  border-color: black;
  cursor: pointer;
  --p: 100%;
  --t: 0.3s;
  margin-top: 0;
}

.back-btn {
  position: absolute;
  width: 45px;
  color: white;
  top: 3%;
  left: 3%;
  transition: 30ms linear;
}

.back-btn:hover {
  cursor: pointer;
  width: 48px;
}

.aboutusText {
  width: 90%;
  margin: 1rem auto;
}

@media screen and (min-width: 1400px) {
  /* h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3rem;
  } */
  .aboutusText {
    width: 63%;
  }
}
