@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-grey: #666;
  --text-dark: #333;
}

body {
  margin: auto;
  margin-top: 1rem;
  min-height: 100vh;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Pacifico", cursive;
}

html {
  background-color: black;
  color: white;
}

.primaryFont {
  font-family: "Pacifico", cursive;
}

strong ~ p {
  margin-bottom: 1rem;
}

.PageWrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.back-btn {
  position: absolute;
  width: 45px;
  color: white;
  top: 3%;
  left: 3%;
  transition: 30ms linear;
}

.back-btn:hover {
  cursor: pointer;
  width: 48px;
}

footer {
  margin-top: 5rem;
  background-color: #1f1f1f;
}

footer ul {
  display: inline;
  text-align: center;
  color: var(--text-grey);
}

footer ul:hover {
  color: var(--text-grey);
}

@media screen and (min-width: 1400px) {
  h3 {
    font-size: 3rem;
  }

  footer ul {
    justify-content: center;
    gap: 2%;
    display: flex;
  }
}
