@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-grey: #666;
  --text-dark: #333;
}

.noSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  margin: auto;
  margin-top: 1rem;
  min-height: 100vh;
}

h3 {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Pacifico", cursive;
  text-align: center;
}

h4 {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Pacifico", cursive;
  text-align: center;
}

html {
  background-color: black;
  color: white;
}

.primaryFont {
  font-family: "Pacifico", cursive;
}

strong ~ p {
  margin-bottom: 1rem;
}

.PageWrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.btn {
  text-align: center;
  display: block;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid white;
  background: linear-gradient(#ffcc34 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.08em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.btn:hover {
  color: black;
  border-color: black;
  cursor: pointer;
  --p: 100%;
  --t: 0.3s;
  margin-top: 0;
}

.back-btn {
  position: absolute;
  width: 45px;
  color: white;
  top: 3%;
  left: 3%;
  transition: 30ms linear;
}

.back-btn:hover {
  cursor: pointer;
  width: 48px;
}

footer {
  margin-top: 5rem;
  background-color: #1f1f1f;
}

footer ul {
  display: inline;
  text-align: center;
  color: var(--text-grey);
}

footer ul:hover {
  color: var(--text-grey);
}

@media screen and (min-width: 1400px) {
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }

  footer ul {
    justify-content: center;
    gap: 2%;
    display: flex;
  }
}
